ul li{
    list-style: none;
}
p{
    padding: 0px;
    margin: 0px;
}
.App{
    height: 100vh;
}
.header{
    min-height: 6vh;
}
.navBar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#nav p{
    line-height: 25px;
}
.navLeft img{
    width: 6%;
}
.navRight {
    width: 50%;
    text-align: right;
}
.navRight img{
    width: 6%;
}
.menuContent{
    text-align: center;
    background: #e4e8ea;
    padding-top: 10px;
}
.menuClose {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: 0.5s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}
.menuOpen {
    visibility: visible;
    opacity: 1;
    height: 110px;
    transition: 0.5s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 10px;
}
.contain{
    padding: 0px 20px;
    text-align: center;
    box-sizing: border-box;
}
.footer{
    text-align: center;
}
.homeIcon{
    width: 3%;
    position: absolute;
    bottom: 0px;
    left: 46%;
}
.home{
    text-align: center;
}
.section{
    padding: 20px 0px;
}
.circle{
    width: 8%;
}
.banner {
    width: 40%;
    margin: 0px auto;
}
.banner img {
    width: 100%;
}
.userFunction{
    display: flex;
    justify-content: space-around;
}
.popularCities{
    text-align: left;
}
.cityDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cityNameHolder{
    text-align: center;
    width: 45%;
    padding: 30px 0px;
    background: gainsboro;
    margin-bottom: 5px;
}
.cityNameHolder img{
    width: 100%;
}
.inputTest{
    border: 1px solid #000;
}
@media only screen and (min-width: 578px) and (max-width: 768px) {
    .homeIcon{
        width: 7%;
    }
}
@media only screen and (max-width: 577px) {
    .homeIcon{
        width: 7%;
    }
    .navLeft img{
        width: 10%;
    }
    .navRight img{
        width: 20%;
    }
    .circle{
        width: 15%;
    }
}
